<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.xml -->
<mapper namespace="com.solji.star.chatting.mapper.ChattingMapper">
   
   <!-- 방 존재 여부 -->
   <select id="checkExistRoom">
   	select count(*) from chat where chat_title=#{chatTitle}
   </select>
   
   <!-- 방생성 -->
   <insert id="createRoom" parameterType="String">
   	insert into chat (chat_title) values(#{chatTitle})
   </insert>
   
   <!-- 방번호 뽑기 -->
   <select id="getRoomNo" parameterType="String">
   	select chat_no from chat where chat_title=#{chatTitle}
   </select>
   
   <!-- 채팅방 리스트 -->
   <select id="getChatList">
   	select distinct * from chat 
   </select>
   
   <!-- 채팅방 정보 가져오기 -->
   <select id="getChatInfo">
   	select * from chat where chat_no=#{roomId}
   </select>

    <!-- 채팅방 퇴장 --> 
    <delete id="exitChat">
    	delete from chat_member where member_id=#{userId} and chat_no=#{roomId}
    </delete>
    
    <!-- 인원수 세기 -->
    <select id="getUserCnt">
    	select count(*) from chat_member where chat_no=#{chatNo}
    </select>
    
    <!-- 조인버튼을 통해 조인 -->
    <insert id="joinGuest">
    	insert into chat_member(chat_no, member_id) 
    	values(#{roomId},#{userId}) 
    </insert>
    
    <!-- 방삭제 -->
    <delete id="deleteRoom">
    	delete from chat where chat_no=#{roomId}
    </delete>
   
</mapper>