<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.xml -->
<mapper namespace="com.solji.star.chatting.mapper.ChattingMapper">
   
   <!-- 방생성 -->
   <insert id="createRoom" parameterType="String">
   	insert into chat (chat_title, chat_state) values(#{chatTitle}, 0)
   </insert>
   
   <!-- 방번호 뽑기 -->
   <select id="getRoomNo" parameterType="String">
   	select chat_no from chat where chat_title=#{chatTitle}
   </select>
   
   <!-- 채팅방 리스트 -->
   <select id="getChatList">
   	select * from chat 
   </select>
   
   <!-- 채팅방 인원수 카운트 업 -->
   <update id="chatStateCntUp">
   	update chat set chat_state=chat_state+1
   </update>
   
   <!-- 채팅방 인원수 카운트 다운 -->
   <update id="chatStateCntDown">
   	update chat set chat_state=chat_state-1
   </update>
   
   <!-- 채팅방 인원수 가져오기 -->
   <select id="getChatState" parameterType="ChatDTO">
   	select chat_state from chat where chat_no=#{roomId}
   </select>
   
   <!-- 채팅방 삭제 -->
   <delete id="deleteChat" parameterType="ChatDTO">
   	delete from chat where chat_no=#{roomId}
   </delete>
   
</mapper>