<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.xml -->
<mapper namespace="com.solji.star.community.mapper.CommunityMapper">
   
   <!-- 글작성 -->
	<insert id="updatePosting" parameterType="post">
	    insert into post (member_id, title, post_content, wrtn_date)
	    values (#{memberId}, #{title}, #{postContent}, #{wrtnDate})
	</insert>
	
	<!-- 글목록 -->
	<select id="getWriteList" parameterType="int">
	    select * from post 
	    order by post_no desc 
	    limit #{start}, 20
	</select>
	
	<!-- 글갯수 -->
	<select id="getTotalWriteCount" resultType="int">
		select count(*) from post
	</select>
	
	<!-- 글 상세 -->
	<select id="getWriteDetail" parameterType="int" resultType="post">
		select * from post where post_no=#{postNo}
	</select>
	
	<!-- 조회수 추가 -->
	<update id="plusVwCnt" parameterType="int">
		update post set vw_cnt=vw_cnt+1 where post_no=#{postNo}
	</update>

   
</mapper>