<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.xml -->
<mapper namespace="com.solji.star.community.mapper.CommunityMapper">
   
   <!-- 글작성 -->
	<insert id="updatePosting" parameterType="post">
	    insert into post (member_id, title, post_content, wrtn_date)
	    values (#{memberId}, #{title}, #{postContent}, #{wrtnDate})
	</insert>
	
	<!-- 글목록 -->
	<select id="getWriteList" parameterType="int">
	    select * from post 
	    order by post_no desc 
	    limit #{start}, 20
	</select>
	
	<!-- 글갯수 -->
	<select id="getTotalWriteCount" resultType="int">
		select count(*) from post
	</select>
	
	<!-- 글 상세 -->
	<select id="getWriteDetail" parameterType="int" resultType="post">
		select * from post where post_no=#{postNo}
	</select>
	
	<!-- 조회수 추가 -->
	<update id="plusVwCnt" parameterType="int">
		update post set vw_cnt = vw_cnt+1 where post_no=#{postNo}
	</update>
	
	<!-- 댓글 목록 -->
	<select id="getReplyList" parameterType="int">
		select * from reply where post_no=#{postNo}
	</select>
	
	<!-- 댓글 쓰기 -->
	<insert id="writeReply" parameterType="reply">
		insert into reply (post_no, member_id, reply_content, wrtn_date)
		values(#{postNo}, #{memberId}, #{replyContent}, #{wrtnDate})
	</insert>

	<!-- 글삭제 -->
	<delete id="deleteUnderReply" parameterType="int">
		delete from reply where post_no=#{postNo}
	</delete>
	<delete id="deletePost" parameterType="int">
		delete from post where post_no=#{postNo}
	</delete>
	
	<!-- 글수정 -->
	<update id="modifyPost" parameterType="post">
		update post set title=#{title}, post_content=#{postContent}, wrtn_date=#{wrtnDate}
		where post_no=#{postNo}
	</update>
	
	<!-- 댓글수정 -->
	<update id="modifyReply" parameterType="reply">
		update reply set reply_content=#{replyContent}, wrtn_date=#{wrtnDate} where reply_no=#{replyNo}
	</update>
	
	<!-- 댓글삭제 -->
	<delete id="deleteReply" parameterType="int">
		delete from reply where reply_no=#{replyNo}
	</delete>
	
	<!-- 좋아요 상태 -->
	<select id="getLikeState" parameterType="like">
		select count(*) from like_list where member_id=#{memberId} and post_no=#{postNo}
	</select>
	
	<!-- 좋아요 누르기 -->
	<insert id="postLike" parameterType="like">
		insert into like_list (member_id, post_no) values(#{memberId}, #{postNo})
	</insert>
	
	<!-- 좋아요 카운트업 -->
	<update id="countLike" parameterType="like">
		update post set liked_cnt=liked_cnt+1 where post_no=#{postNo}
	</update>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteLike" parameterType="like">
		 delete from like_list where post_no=#{postNo} and member_id=#{memberId}
	</delete>
	
	<!-- 좋아요 카운트 다운 -->
	<update id="deleteLikeCount" parameterType="like">
		update post set liked_cnt=liked_cnt-1 where post_no=#{postNo}
	</update>
	
	<!-- 글 삭제시 좋아요 삭제 -->
	<delete id="deleteUnderLike" parameterType="int">
		delete from like_list where post_no=#{postNo}
	</delete>
	
	<!-- 글 삭제시 좋아요 카운트 다운 -->
	<update id="deleteUnderLikeCount">
		update post set liked_cnt=liked_cnt-1 where post_no=#{postNo}
	</update>
	
   
</mapper>