<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.xml -->
<mapper namespace="com.solji.star.mainPage.mapper.MainPageMapper">
   
   <!-- 조회수 순 핫글 -->
   <select id="getHotPostVwCnt">
   	select title, member_id, wrtn_date, post_no from post order by vw_cnt desc limit 5;
   </select>
   
   <!-- 좋아요 순 핫글 -->
   <select id="getHotPostLikeCnt">
   	select title, member_id, wrtn_date, post_no from post order by liked_cnt desc limit 5;
   </select>
   
   <!-- 최신순 핫글 -->
   <select id="getHotPostNewPost">
   	select title, member_id, wrtn_date, post_no from post order by wrtn_date desc limit 5;
   </select>
   
</mapper>