<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.xml -->
<mapper namespace="com.solji.star.member.mapper.MemberMapper">
   
    <!-- 중복확인 -->
	<select id="joinIdCheck" parameterType="String" resultType="int">
	    select count(*) from member where member_id=#{memberId}
	</select>

    <select id="joinNickNmCheck" parameterType="String" resultType="int">
        select count(*) from member where member_nicknm=#{memberNickNm}
    </select>
    
    <!-- 회원가입 -->
    <insert id="joinUser" parameterType="member">
    	insert into member(member_id,refresh_token,member_pw,member_nm,member_nicknm,phone1,phone2,phone3,identity_no1,identity_no2,star_image,email1,email2)
    	 values('${memberId}','${refreshToken}','${memberPw}','${memberNm}','${memberNickNm}','${phone1}','${phone2}','${phone3}','${identityNo1}','${identityNo2}',${starImage},'${email1}','${email2}')
    </insert>
    
    <!-- 회원정보 가져오기 -->
    <select id="getMemberInfo" parameterType="String">
    	select * from member where member_id=#{memberId}
    </select>
    
    <!-- 회원정보 수정 -->
    <update id="memberModify" parameterType="member">
    	update member set member_nm=#{memberNm}, phone1=#{phone1}, phone2=#{phone2}, phone3=#{phone3}, identity_no1=#{identityNo1}, identity_no2=#{identityNo2}, email1=#{email1}, email2=#{email2}, member_pw=#{memberPw}
    	where member_id=#{memberId}
    </update>
    
    <!-- 회원 삭제 -->
    <delete id="deleteMember" parameterType="String">
    	delete from member where member_id=#{memberId}
    </delete>
    
    <!-- postNo 구하기 -->
    <select id="getPostNoList" parameterType="String">
    	select post_no from post where member_id=#{memberId}
    </select>
    
    <!-- 탈퇴시 댓글 -->
    <delete id="deleteMemberReply" parameterType="String">
    	delete from reply where member_id=#{memberId}
    </delete>
    
    <!-- 탈퇴시 좋아요 -->
    <delete id="deleteMemberLike" parameterType="String">
    	delete from like_list where member_id=#{memberId}
    </delete>
    
</mapper>
